body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Trebuchet MS';
    background: #000000;
}

.form-group label{
    color: #000000;
}

.form{
    display: grid;
    align-items: center;
    justify-content: center;
}

.jumbotron{
    margin-top: 25px;
}

.res{
    padding: 20px;
    font-size: 20px;
    margin-top: 80px;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .res{
        padding: 20px;
        font-size: 20px;
        margin-top: 50px;
    }
    .jumbotron{
        margin-top: 0;
    }
}